{% extends 'base.html.twig' %}

{% block title %}Hello User{% endblock %}

{% block body %}

<div class="container">
    <div class="card mb-12 m-5">
        <div class="row g-0">
            <div class="col-md-4">
            <img class="productImage" src="{{asset('uploads/images/'~ product.image)}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.Description}}</p>
                <p class="card-text">{{product.Price}}€</p>
                {# <p class="card-text">Only {{product.stock}} available</p> #}
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2 class="mt-5">Derniers produits ajoutés</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('uploads/images/'~ product.image)}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="titleProductionLink" href="{{path('app_home_product_show',{'id':product.id})}}">
                    <h5 class="card-title"> {{ product.name }} </h5>
                    </a>
                    <p class="card-text">{{ product.Description |slice(0,60) }}...</p>
                    <h3>{{product.Price}}€</h3>
                    <a href="{{path('app_cart_new',{'id':product.id})}}" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        </div>
   

            {% endfor %}
    </div>
</div>

{% endblock %}