{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class= "container registerForm containerForm"> 
  

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
      <h1>Register</h1>
        {{ form_row(registrationForm.firstName, {'attr':{'class':'form form-control','placeholder':"firstname"}}) }}
        {{ form_row(registrationForm.lastName, {'attr':{'class':'form form-control','placeholder':"lastname"}}) }}
        {{ form_row(registrationForm.email, {'attr':{'class':'form form-control','placeholder':"email"}}) }}
        {{ form_row(registrationForm.plainPassword, {'attr':{'class':'form form-control','placeholder':"password"}}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
