{{ form_start(form) }}
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}
    {{ form_widget(form.Description,{'attr':{'class':'form form-control'}}) }}
    {{ form_widget(form.Price,{'attr':{'class':'form form-control'}}) }}
    {{ form_widget(form.SubCategory,{'attr':{'class':'form form-control'}}) }}
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
