{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h2 class="text-center"> Liste des Utilisateurs</h2>

<div class="container">
    <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Action</th>
                </tr>
        {% for user in users %}
            <tr>
               
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>

                <td>
                    {% for role in user.roles %}

                        {{role}}

                    {% endfor %}
                </td>

                <td>
                    {% if ("ROLE_ADMIN" in user.roles) == false %}
                        {% if ("ROLE_EDITOR" in user.roles) == false %}
                            <a href="{{ path('app_user_change_role', {'id': user.id}) }}" onclick= "return confirm('Do you really want to change the role of this user ?')" class="btn btn-outline-warning">Modify Role</a>
                        {% else %} 
                            <a href="{{ path('app_user_delete_role', {'id': user.id}) }}" class="btn btn-outline-danger" onclick= "return confirm('Do you really want to delete the role for this user?')">Delete Role</a>
                        {% endif %}
                        <a href="{{ path('app_user_remove', {'id': user.id}) }}" class="btn btn-danger" onclick= "return confirm('Do you really want to delete this user?')">Delete User</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
    </table>
</div>
{% endblock %}
